 div{
    background-color: black;
 }
 
 
.c1 h2 {
        background-color: black;
        color: red;
        text-align: center;

    }
.p2{
     background-color: black;
     color:red;
      text-align: center;
}
.p1 {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

